# EditorConfig helps maintain consistent coding styles across different editors and IDEs
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false
indent_style = tab
indent_size = 4

[*.md]
trim_trailing_whitespace = true

[*.yml]
indent_style = space
indent_size = 2

[*.yaml]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2

[*.xml]
indent_style = space
indent_size = 2

[*.java]
indent_style = tab
indent_size = 4
# IMPORTANT: Do not trim trailing whitespace in Java files
# This preserves intentional whitespace in comments and annotations
trim_trailing_whitespace = false
